* text=auto

*.cs     text eol=lf
*.json   text eol=lf
*.md     text eol=lf
*.asmdef text eol=lf
*.unity  text eol=lf
*.prefab text eol=lf
*.asset  text eol=lf
*.meta   text eol=lf

*.png      binary
*.jpg      binary
*.gif      binary
*.psd      binary
*.aseprite binary
*.wav      binary
*.mp3      binary
*.ogg      binary
*.ttf      binary
*.fbx      binary

